<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My LMS</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img src="../assets/lms.jpg" alt="logo" />
      </a>
      <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <div class="header-icons">
        <a href="#"><i class="bx bx-user"></i></a>
        <a href="#"><i class="bx bx-heart"></i></a>
        <a href="#"><i class="bx bx-cart"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </header>
    <!--start home section-->
    <section class="home" id="home">
      <div class="home-text">
        <h6>Best Online learing Platform</h6>
        <h1>Accessible to all our online courses</h1>
        <p>own your future by learing new skills</p>
        <div class="latter">
          <form action="/send-email" method="POST">
            <input
              type="email"
              name="email"
              placeholder="Write your email"
              required
            />
            <input type="submit" value="Let's Get Started" required />
          </form>
        </div>
      </div>
      <div class="home-img">
        <img src="../assets/home.png" alt="home" />
      </div>
    </section>
    <!--start container section-->
    <section class="container">
      <div class="container-box">
        <div class="container-img">
          <img src="../assets/scholar.png" alt="scholar" />
        </div>
        <div class="container-text">
          <h4>5K</h4>
          <p>Online Courses</p>
        </div>
      </div>
      <div class="container-box">
        <div class="container-img">
          <img src="../assets/onlinecourses1.jpg" alt="scholar" />
        </div>
        <div class="container-text">
          <h4>5K</h4>
          <p>Online Courses</p>
        </div>
      </div>
      <div class="container-box">
        <div class="container-img">
          <img src="../assets/onlinecourses2.jpg" alt="scholar" />
        </div>
        <div class="container-text">
          <h4>5K</h4>
          <p>Online Courses</p>
        </div>
      </div>
      <div class="container-box">
        <div class="container-img">
          <img src="../assets/onlineimages3.png" alt="scholar" />
        </div>
        <div class="container-text">
          <h4>5K</h4>
          <p>Online Courses</p>
        </div>
      </div>
    </section>
    <!--start categories section-->
    <section class="categories" id="categories">
      <div class="center-text">
        <h5>CATEGORIES</h5>
        <h2>Popular Categories</h2>
      </div>
      <div class="categories-content">
        <div class="box">
          <img src="../assets/angular.png" alt="angular" />
          <h3>Angular Development</h3>
          <p>5 Courses</p>
        </div>
        <div class="box">
          <img src="../assets/nodejs.png" alt="java" />
          <h3>NodeJs Development</h3>
          <p>5 Courses</p>
        </div>
        <div class="box">
          <img src="../assets/java.png" alt="java" />
          <h3>Java Development</h3>
          <p>5 Courses</p>
        </div>
        <div class="box">
          <img src="../assets/php.png" alt="php" />
          <h3>Php Development</h3>
          <p>5 Courses</p>
        </div>
      </div>
      <div class="main-btn">
        <a href="#" class="btn">All Categories</a>
      </div>
    </section>
    <!--start course section-->
    <section class="courses" id="courses">
      <div class="center-text">
        <h5>COURSES</h5>
        <h2>Explore Popular Courses</h2>
      </div>
      <div class="courses-content">
        <div class="row">
          <img src="../assets/studying.jpg" alt="studying" />
          <div class="courses-text">
            <h5>$20.00</h5>
            <h3>The Complete Html Css JavaScript Course 2024</h3>
            <h6>05 hours 15 minutes</h6>
            <div class="rating">
              <div class="star">
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
              </div>
              <div class="review">
                <p>{5 Reviews}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="../assets/studying2.jpg" alt="studying" />
          <div class="courses-text">
            <h5>$20.00</h5>
            <h3>The Complete Html Css JavaScript Course 2024</h3>
            <h6>05 hours 15 minutes</h6>
            <div class="rating">
              <div class="star">
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
              </div>
              <div class="review">
                <p>{5 Reviews}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <img src="../assets/studying3.jpg" alt="studying" />
          <div class="courses-text">
            <h5>$20.00</h5>
            <h3>The Complete Html Css JavaScript Course 2024</h3>
            <h6>05 hours 15 minutes</h6>
            <div class="rating">
              <div class="star">
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
              </div>
              <div class="review">
                <p>{5 Reviews}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <img src="../assets/studying4.jpg" alt="studying" />
          <div class="courses-text">
            <h5>$20.00</h5>
            <h3>The Complete Html Css JavaScript Course 2024</h3>
            <h6>05 hours 15 minutes</h6>
            <div class="rating">
              <div class="star">
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
              </div>
              <div class="review">
                <p>{5 Reviews}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <img src="../assets/studying5.jpg" alt="studying" />
          <div class="courses-text">
            <h5>$20.00</h5>
            <h3>The Complete Html Css JavaScript Course 2024</h3>
            <h6>05 hours 15 minutes</h6>
            <div class="rating">
              <div class="star">
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
                <a href="#"><i class="bx bxs-star"></i></a>
              </div>
              <div class="review">
                <p>{5 Reviews}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-btn">
        <a href="#" class="btn">Buy Now</a>
      </div>
    </section>
    <!--start cta section-->
    <section class="cta">
      <div class="center-text">
        <h5>Trusted By</h5>
        <h2>500+ Leading Universities And Companies</h2>
      </div>
      <div class="cta-content">
        <div class="cta-img">
          <img src="../assets/colruyt.png" alt="colruyt" />
        </div>
        <div class="cta-img">
          <img src="../assets/dixie.png" alt="colruyt" />
        </div>
        <div class="cta-img">
          <img src="../assets/oxford.png" alt="colruyt" />
        </div>
        <div class="cta-img">
          <img src="../assets/google.png" alt="colruyt" />
        </div>
        <div class="cta-img">
          <img src="../assets/spike.jpg" alt="colruyt" />
        </div>
        <div class="cta-img">
          <img src="../assets/positech.png" alt="colruyt" />
        </div>
      </div>
    </section>
    <!--Start about section-->
    <section class="about" id="about">
      <div class="about-img">
        <img src="../assets/about us photo.jpg" alt="about" />
      </div>
      <div class="about-text">
        <h2>Want to share your knowledge? Join us as our Mentor</h2>
        <p>
          High defination video is video of higher resolution and quality than
          standard defination. While there is no standard meaning for high
          defination, generally for any video
        </p>
        <h4>Best Courses</h4>
        <h5>Top Rated Instructors</h5>
        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <!--start contact section-->
    <section class="contact" id="contact">
      <div class="main-contact">
        <div class="contact-content">
          <img src="../assets/lms.jpg" alt="" />
          <li><a href="#">FaceBook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">X</a></li>
        </div>
        <div class="contact-content">
          <li><a href="#home">Home</a></li>
          <li><a href="#categories">Categories</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </div>

        <div class="contact-content">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Instructor</a></li>
          <li><a href="#">DashBoard</a></li>
        </div>

        <div class="contact-content">
          <li>
            <a href="#"
              >San Fransisco,<br />
              California, CA 94108</a
            >
          </li>
          <li><a href="#">lms@gmail.com</a></li>
          <li><a href="#">7144449745</a></li>
        </div>
      </div>
    </section>
    <div class="last-text">
      <p>@ 2024 Akash Dey. All Rights Reserved.</p>
    </div>
    <footer></footer>
    <script src="../public/js/app.js"></script>
  </body>
</html>
